{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
      <!-- index.html -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'polyfills-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'styles.js-es5' %}"></script>
  <script type="text/javascript" src="{% static 'vendor.js-es5' %}"></script>
  <script type="text/javascript" src="{% static 'runtime.js-es5' %}"></script>
  <script type="text/javascript" src="{% static 'main.js-es5' %}"></script>
<script type="text/javascript" src="{% static 'polyfills-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'styles.js-es2015' %}"></script>
  <script type="text/javascript" src="{% static 'vendor.js-es2015' %}"></script>
  <script type="text/javascript" src="{% static 'runtime.js-es2015' %}"></script>
  <script type="text/javascript" src="{% static 'main.js-es2015' %}"></script>

</body>
</html>
